/* *** entrance *** */
.enter_div {
	background-image: url(../img/Enseigne_back.png);
}

/* ***search*** */
/* order filter */
#order_boxes, #order_boxes_waited {
	font-family: Arial, sans-serif;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#order_boxes li, #order_boxes_waited li {
	cursor: move;
	margin: 2px 0px 0px 0px;
	width: 10em;
	height: 1.5em;
	border: 1px solid #000;
	text-align: left;
	padding-top: 5px;
	padding-left: 5px;
	background-color: #64734F;
}
#order_boxes li>span>img , #order_boxes_waited li>span>img {
	cursor: pointer;
}
#order_boxes li>span, #order_boxes_waited li>span {
	color:white;
}
#order_boxes  .add  {
	opacity: 0.30;
	filter : alpha(opacity=30);
}
#order_boxes .drophover {
	opacity: 0.99;
	filter : alpha(opacity=99);
	border: 1px solid #FFF;
}
/* checkbox and radio filter  */
.li_checkbox {
	background-color: #68665F;
}
.checkboxes_group, .radios_group {
	float: left;
	margin: 0px 0px 10px 0;
	padding: 0px;
	font-family: Arial, sans-serif;
	list-style-type: none;
}
.checkboxes_group li, .radios_group li {
	float: left;
	margin: 0px 4px 0px 0px;
	width: 47px;
	height: 47px;
}
.checkboxes_group li.select_all_none {
	width: 10px;
}
.button_checkbox	{ width: 47px; height: 47px; background-repeat: no-repeat; background-position: left top;}
.button_checkbox.gh	{ background-position: center 8px; }
.border_checkbox_on 	{ width: 47px; height: 47px; background-image: url('../img/button_on.png'); }
.border_checkbox_off{ width: 47px; height: 47px; background-image: url('../img/button_off.png'); }
.border_radio_on 	{ width: 47px; height: 47px; background-image: url('../img/button_on.png'); }
.border_radio_off 	{ width: 47px; height: 47px; background-image: url('../img/button_off.png'); }
/* last line */
#reduce_div {
	float: left;
	margin-left:11em;
	margin-bottom: 2px;
	width: 50px;
	padding:0px;
	border: 0px solid red; 
}
#last_filter_left, #last_filter_right {
	float: left;
	margin-top:2px;
	margin-left:1em;
	padding:0px;
	margin-bottom: 2px;
}
#last_filter_right {
	margin-left:20%;
}

/* ***result*** */
/* window without title - just borders */
.form_div_ryzom-ui-tl {
	padding: 0px;
	border: 0px;
	background-image: url(../inc/ryzom_api/ryzom_api/render/skin_tl.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width: 100%; height: 8px;
}
.form_div_ryzom-ui-tr {
	padding: 0px;
	border: 0px;
	background-image: url(../inc/ryzom_api/ryzom_api/render/skin_tr.gif);
	background-repeat: no-repeat;
	background-position: right top;
	height: 8px;
}
.form_div_ryzom-ui-t {
	padding: 0px;
	border: 0px;
	background-image: url(../inc/ryzom_api/ryzom_api/render/skin_t.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 8px;
	margin: 0 8px;
}

.icon_box .ryzom-ui-m {
	margin: 0 8px;
	padding: 0px;
	background-repeat: repeat;
}
#icon_boxes, #flunkerTooltip{
	font-family: Arial, sans-serif;
	font-size: 12px;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#icon_boxes>li {
	float: left;
	margin: 2px 2px 0px 0px;
	padding: 0px;
	border: 0px solid black;
}
.icon_div {
	margin: 0px;
	padding: 0px;
	width: 40px;
	height: 40px;
}
.form_div {
	margin: 0px;
	padding: 0px;
	width: 216px;
}
img.buffer{
	margin: 0 2px 0 0;
}
ul.attribut{
	font-family: Arial, sans-serif;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
li.attribut{
	float: left;
	width: 95px;
	margin: 2px 0px 0px 2px;
	padding: 0px;
}
li.decohr{
	width: 86%;
	margin: 0;
	padding: 0px 5% 0px 5%;
	border: 0px solid black;
}
li.quart{
	width: 43px;
	text-align: center;
}
li.left{
	width: 130px;
	text-align: right;
}
li.right{
	width: 50px;
	text-align: left;
}
li.tright{
	text-align: right;
}
li.all{
	width: 96%;
	text-align: center;
}
li.icon{
	margin: 5px 0 0px 5px;
	width: 50px;
	border: 0px solid black;
}
li.iconright{
	width: 135px;
	height: 4.5em;
}
/* ***ajax waiting*** */
#ajax_waiting {
	opacity: 0.50;
	filter : alpha(opacity=50);
	background: #64734F;
	position:absolute;
	display: none;
}
#ajax_waiting_img {
	margin-left:11em;
	position:absolute;
	display: none;
}
#ajax_nb_items {
	display: none;
}
.ryzom-ui {
	font-family: Arial, sans-serif;
	color: white;
}
.ryzom-ui-body {
	/* margin: leave 5px room after bottom border */
	padding: 5px 5px 5px 5px;
}

.chest_info {
	width: 49%; float: left; border: 1px solid black; margin: 2px 0 0 2px; background-color:#64734F;
}

p.invisible_break {
	clear: left;
	border: 0px solid red;
	margin: 0;
	padding: 0;
	height: 1px;
}