body{
	background-image:url(../img/matis_gh.jpg);
	background-repeat:no-repeat;
	background-color:#000;
}
#search_content.ryzom-ui-m {
	background-image: url(../img/skin_blank_flunker.png);
}
#result_content.ryzom-ui-body {
	background-image: url(../img/skin_blank_inner_flunker.png);
}
/* ***search*** */
/* checkbox filter, radio filter , gh filter */
.li_checkbox_gh_on_matis{
	background-image: url(../img/back_button_on_matis.png);
	background-repeat: no-repeat;
	background-position: left top;
}