body{
	background-image:url(../img/zorai_gh.jpg);
}
#search_content.ryzom-ui-m {
	background-image: url(../img/skin_blank_flunker.png);
}
#result_content.ryzom-ui-body {
	background-image: url(../img/skin_blank_inner_flunker.png);
}
.ryzom-ui input, .ryzom-ui select {
	border-top: 1px solid #1A131A;
	border-right: 1px solid #E3A5E3;
	border-bottom: 1px solid #F7B4F7;
	border-left: 1px solid #3D2C3D;
	background-color: #7C5A7C;
}
/* input[type=submit] will make IE6 to ignore whole CSS rule, so cant combine this with .ryzom-ui-button below */
input[type=submit] {
	border-bottom: 1px solid #1A131A;
	border-left: 1px solid #E3A5E3;
	border-top: 1px solid #F7B4F7;
	border-right: 1px solid #3D2C3D;
	background-color: #7C5A7C;
}
input.ryzom-ui-button, .ryzom-ui-button {
	border-bottom: 1px solid #1A131A;
	border-left: 1px solid #E3A5E3;
	border-top: 1px solid #F7B4F7;
	border-right: 1px solid #3D2C3D;
	background-color: #7C5A7C;
}
a.ryzom-ui-button:hover {
	background: #986F98;
}
.ryzom-ui {
	opacity: 0.99;
}
.ryzom-ui-body {
	border-top: 1px solid #1A131A;
	border-right: 1px solid #E3A5E3;
	border-bottom: 1px solid #F7B4F7;
	border-left: 1px solid #3D2C3D;
}

/* *** entrance *** */
.enter_div {
	background-image: url(../img/Enseigne_back_zorai.png);
}

/* ***search*** */
/* order filter */
#order_boxes li, #order_boxes_waited li {
	background-color: #7C5A7C;
}
/* checkbox and radio filter */
.border_checkbox_on	{ background-image: url('../img/button_on_zorai.png'); }
.border_checkbox_off{ background-image: url('../img/button_off_zorai.png'); }
.border_radio_on	{ background-image: url('../img/button_on_zorai.png'); }
.border_radio_off	{ background-image: url('../img/button_off_zorai.png'); }

/* ***ajax waiting*** */
#ajax_waiting {
	background: #7C5A7C;
}

.chest_info {
	background-color:#7C5A7C;
}
/* *** arian tooltip *** */
#arian div {
	background-color: #7C5A7C;
}